:host {
  position: absolute;
  right: 10px;
  top: 20px;

  img {
    width: 40px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      transform: scale(1.05) translateY(-1px);
    }
  }
}