:host {
  position: absolute;
  right: min(10px, 2%);
  top: 15px;
  z-index: 2;

  img {
    width: 40px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      transform: scale(1.05) translateY(-1px);
    }
  }
}