<main>
  <h1>Web Workers</h1>

  <span class="subtitle" translate="text-21">
    Este projeto tem como objetivo demonstrar o funcionamento e a capacidade dos
    Web Workers
  </span>

  <div class="start-actions">
    <div class="action">
      <h2 translate="text-22">Contar até um numero muito grande</h2>
      <button (click)="countToBigNumMain()">Main Thread</button>
      <button (click)="countToBigNumWorker()">Web Workers</button>
    </div>

    <div class="action">
      <h2 translate="text-23">Seguencia de fibbonacci</h2>
      <button (click)="fibbonacciOnMain()">Main Thread</button>
      <button (click)="fibbonacciOnWorkers()">Web Workers</button>
    </div>
  </div>

  <a class="help" routerLink="/help">?</a>
</main>
