* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html,
body {
  height: 100%;
  width: 100%;
}

@media (max-width: 450px) {
  .toast-container {
    right: -7% !important;
  }

  .ngx-toastr {
    max-width: 90%;
  }
}

.ngx-toastr {
  width: 350px !important;
}

.prettyprint {
  padding: 10px 0px 0px !important;
  background-color: #ebebeb;
}
